<h1>ブログ一覧</h1>
<p><%= notice %></p>
<table>
  <tr>
    <th>タイトル</th>
    <th>内容</th>
  </tr>
<% @post_messages.each do |post_message| %>　　
  <tr>
    <td><%= post_message.content %></td>
    <td><%= link_to "ブログを編集する", edit_post_message_path(post_message.id), data: { confirm: '本当に編集していいですか？' } %></td>
    <td><%= link_to 'ブログを削除する', post_message_path(post_message.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } %></td>
  </tr>
<% end %>
</table>
<%= link_to '新しくブログを投稿する', new_post_message_path %>